<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">










    <ion-card>
      <ion-card-header>

        <ion-card-title>{{ cityName }}</ion-card-title>
        <ion-card-subtitle>Current weather:</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <p>Temperature: {{ temperature }}°C</p> <!-- too bad i cant put emojis here, as it just screams chatgpt -->
        <p>Precipitation: {{ precipitation }} %</p>
      </ion-card-content>
    </ion-card>
  </div>

  














</ion-content>