<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Moto News</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="news-title" align="center">Latest Motorcycle News</h1>


   @for(newsItem of news;track newsItem){
    <a [href]="newsItem.url" target="_blank">
  <ion-card>
    <img alt="News Poster" src={{newsItem.image}} />
    <ion-card-header>
      <ion-card-subtitle>{{newsItem.description}}</ion-card-subtitle>
      <ion-card-title>{{newsItem.title}}</ion-card-title>
      
    </ion-card-header>


  </ion-card>
  </a>
  }
</ion-content>
