<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @if(username){
    <h1 align="center">Hi {{ username }}!</h1>
    <strong>Welcome back to the MotoCompanion!</strong>
    } @else {
    <p>Welcome to MotoCompanion!
      <br>
      Please set your username in the settings to personalize your experience.
    </p>
    }



    <ion-button routerLink="/weather">Weather</ion-button>
    <ion-button routerLink="/garage">Garage</ion-button>
    <ion-button routerLink="/news">Moto News</ion-button>
    <ion-button routerLink="/settings">Settings</ion-button>

    <br>
    <br>
    <ion-button class="flashbutton" (click)="toggleTorch()">Flashlight</ion-button>
  </div>


  





</ion-content>
