<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welocme to the MotoCompanion!</strong>
    
      <ion-button expand="block" routerLink="/weather">Weather</ion-button>
      <ion-button expand="block" routerLink="/news">Moto News</ion-button>
      <ion-button expand="block" routerLink="/maintenance">Maintenance</ion-button>
      <ion-button expand="block" routerLink="/trips">Trips</ion-button>
    

  </div>
</ion-content>
  